---
const  skills = [
"typescript","javascript", "React" , "Next.js", "Svelte", "SvelteKit", "react-query ", "tailwindcss" , "astro" , "Hono" , "tRPC" , "drizzle ORM" , "postgres" ,"docker"
]
---

<section class="max-w-3xl flex mt-10 flex-col items-center gap-6 mx-auto px-4">
    <h1 class="text-2xl font-bold  text-text-accent/70">Skills</h1>
    <h2 class=" text-text-highlight">Languages , Frameworks  and Tools I use </h2>
    <div class="flex flex-wrap gap-4">
    {
        skills.map((skill) => (

                <span class="text-text-highlight bg-secondary-background px-4 py-2 rounded-lg border border-text-normal/20 ring-1 ring-text-normal/5 text-sm tracking-wide hover:bg-text-highlight/10 transition-colors">{skill}</span>

        ))
    }
    </div>

</section>
